*{
  margin: 0;
}

body{
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  background: skyblue;
}

form{
  border-radius: .4rem;
  width: 100%;
  max-width: 500px;
  padding: 20px 30px;
  font-size: 1.2rem;
  background: white;

  .formg{
    margin-bottom: 15px;
  }

  h2{
    font-size: 3rem;
    margin-bottom: 20px;
    text-align: center;
  }

  label{
    display: block;
    margin-bottom: 5px;
  }

  .input {
    border-radius: .6rem;
    width: 96%;
    padding: 8px;
    border: none;
  }

  button{
    color: white;
    background: skyblue;
    border: none;
    outline: none;
    width: 100%;
    padding: 8px 0;
    font-size: 1.4rem;
    border-radius: .6rem;
    text-align: center;
    align-self: center;

    &:hover{
      transform: scale(1.1);
    }
  }
}

span{
    color: red;
    padding: 10px auto;  
    margin-top: 4px;  
    // text-align: center;
    // background: rgba(246, 194, 194, 0.849);
    // border-radius: .4em;
    // text-shadow: 0 1px 2px black;
  }

  center{
    width: 100%;
    padding: 8px 0;
  }


  a{
    color: skyblue;

    &:visited, &:active{
      color: skyblue;
    }
  }

 .cardd{
  width: 100%;
  max-width: 300px;
 } 
.card{
  background: white;
  padding: 10px;
  border-radius: .6rem;
  width: 100%;

    .info{
      p{
        padding: 4px;
        margin-left: 8px;
        font-size: 1.3rem;
      }
    }
  }
}